body{
  width: 100%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.details-container {
    margin-top: 20px;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #f2f2f2;
  }
  
  /* .detail-content {
    display: grid;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  } */
  
  h4 {
    font-size: 25px;
    text-align: left;
  }
  
  .title p{
    width: 50%;
  }

  .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .expand-button-container
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .expand-button{
    width: 20%;
  }